.control {
    width: 100%;
}
.search-bar {
    width: 50%;
    display: block;
    margin: 2rem auto;
}

.watchlist-container {
    width: 45%;
    margin: auto;
}

.watchlist-company, .watchlist-company__company-data, .watchlist-company__company-price-change-container { 
    display: flex;
}

.watchlist-company__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.watchlist-company__company-symbol {
    font-weight: bold;
}

.watchlist-company__company-price { 
    text-align: right;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.watchlist-company__company-price-change-container {
    margin-top: -0.7rem;
}

.watchlist-company__company-data {
    margin-left: 4rem;
}

.watchlist-company__company-entryprice {
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

.entryprice { 
    font-size: 1.7rem;
}

.entryprice-input {
    margin: 0;
    width: 5rem;
}

.watchlist-company__company-price-change-pourcent {
    margin-left: 0.6rem;
}

.delete, .fa-pen {
    margin-left: 0.7rem;
}

.watchlist-company-card { 
    width: 100%;
    margin: auto;
}

.entery-price-header {
    margin-left: 32rem;
}

.fa-magnifying-glass {
   left: 30rem;
   position: relative;
}

.form-buttons { 
    margin-top: 1rem;
}

.watchlist-modal-close-button {
    margin-left: 36rem;
}

.search-result {
    display: flex;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 999;
    padding: 0.7rem;
  }


.search-result:hover {
    background-color: antiquewhite;

}

/* .search-li {
    margin-left: 3rem;
} */

.input {
    margin-bottom: 0;
}

.search-result-name {
  display: inline-block;
  width: 50rem; 
  text-align: left;
 
}

.search-result-symbol {
   margin-left: 2rem;
   font-weight: bold;
   text-align: left;
}


