.control {
    width: 100%;
}
.search-bar {
    width: 50%;
    display: block;
    margin: 3rem auto ;
    margin-bottom: 5rem;
    z-index: 999;
}

.searchbar-input {
    margin-bottom: 5rem;
}

.watchlist-container {
    width: 45%;
    margin: auto;
}

.watchlist-company, .watchlist-company__company-data, .watchlist-company__company-price-change-container { 
    display: flex;
}

.watchlist-company__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.watchlist-company__company-symbol {
    font-weight: bold;
}

.watchlist-company__company-price { 
    text-align: right;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0;
    display: flex;
    justify-content: left;
}

.watchlist-company__company-price-change-container {
    margin-top: -0.7rem;
    display: flex;
    justify-content: left;
}

.watchlist-company__company-price-and-change {
    
}

.watchlist-company__company-data {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: left;
}

.watchlist-company__company-entryprice {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.entryprice { 
    font-size: 1.7rem;
}

.entryprice-input {
    margin: 0;
    width: 5rem;
}

.watchlist-company__company-price-change-pourcent {
    margin-left: 0.6rem;
}

.delete, .fa-pen {
    margin-left: 0.7rem;
}

.watchlist-company-card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 0 2rem;
    border-bottom: 0.5px solid #f2f2f2;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }

.box {
    margin-bottom:0;
}
.entery-price-header {
    margin-left: 32rem;
}

.fa-magnifying-glass {
   left: 30rem;
   position: relative;
}

.form-buttons { 
    margin-top: 1rem;
}

.watchlist-modal-close-button {
    margin-left: 36rem;
}

.search-result {
    display: flex;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 999;
    padding: 0.7rem;
    background-color: white;
   
  }

#suggestions {
    position: absolute;
    z-index: 999;
    width: 100%;
    
  }
  /* .field{
    position: relative;
  } */
.is-active {
    background-color: #81b4dd;
    border: none;
}

.search-result:hover {
    background-color: antiquewhite;

}


.input {
    margin-bottom: 0;
}

.search-result-name {
  display: inline-block;
  width: 50rem; 
  text-align: left;
 
}

.search-result-symbol {
   margin-left: 2rem;
   font-weight: bold;
   text-align: left;
}

.search-result-type {
    margin-left: 1rem;
    font-style: italic;
}

.fa-delete-left {
    margin-left: 0.7rem;
}

.button-container  { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
   
  }
  
  .watchlist-name-button {
    margin-right: 0rem;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 30px;
    word-wrap: break-word;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .update-input  {
    margin-right: 5px;
    top: 3px;
    left: 0;
    z-index: 2;
    max-width: 100%;
    background-color: #485FC7;
    border-style: none;
    color:white;
  }

  .update-input::placeholder {
    color: white;
  }

  .watchlist-item {
    display: flex;
    position: relative;
    overflow: hidden;
    margin-right: 0.5rem;
  }

  .input-container {
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 2;
    width: 90%;
    
  }

  .is-info {
    max-width: 50%;
    margin: 3rem auto;
  }

  .fa-square-plus {
    margin-right: 0.5rem;
    font-size: 1.6rem;
  }

  .entry-price-container {
    margin-top: 2rem;
  }


  